.DS_Store
*.sty
*.tex
*.nav
*.bib
*.out
*.snm
*.gz
*.toc
*.vrb
*.aux
*.log
*.bbl
*.blg
wink.png
*temp.pdf
beamer*
aux/*
v3dot0/_bin/*
v3dot0/fromDynare/*
v3dot1/*
v3dot2/*
v3dot3/*

